[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tripsAndDipR"]
	path = tripsAndDipR
	url = https://github.com/delomast/tripsanddipr
